[defaults]
inventory = ansible/inventory/terraform.py
remote_user = deployacc
private_key_file = ~/.ssh/id_ed25519
host_key_checking = True
retry_files_enabled = False
interpreter_python = /usr/bin/python3
deprecation_warnings = False
vault_password_file = .vault_pass

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
