# Docker aliases
alias d='docker'
alias dc='docker compose'
alias dps='docker ps --format "table {% raw %}{{.Names}}\t{{.Status}}\t{{.Ports}}{% endraw %}"'
alias dlogs='docker compose logs -f'

# General aliases
alias ll='ls -alF'
alias security-check='sudo /usr/local/bin/security-check'
